doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        style(src="style.css")
        title mordred web interface

    body
        div#main
        script(src="bundle.js")
        if process.env.NODE_ENV !== 'production'
            script(src="http://localhost:35729/livereload.js?snipver=1")
